
<h1>Your Membership Request was Approved</h1>

<h2>Welcome! Your request to join Fly Red Arrow was approved.</h2>
<br/>
<p>

Log into your account with the email and password you used to sign up. 
</p> 

 <%= link_to "Visit Red Arrow", "https://www.flyredarrow.com/", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
